[Desktop Entry]
Name=Compressr
Exec=compressr
Icon=compressr
Comment=Compressr is an image compression tool that allows you to easily reduce the file size of your images without sacrificing quality
Type=Application
Categories=Utility;
